<h1>Add a new Game!</h1>
  <%= form_for @game do |form| %>
  <%= form.label :title %>:
  <%= form.text_field :title %>
  <br/>
  <%= form.label :description %>:
  <%= form.text_field :description %>
  <br/>
  <%= form.label :rating %>:
  <%= form.text_field :rank %>
  <br/>
  <%= form.label :photo %>:
  <%= form.text_field :photo %>
  <br/>
  <%= form.submit%>
<% end %>