<h1>Add a new Game!</h1>
  <%= form_for @game do |form| %>
  <%= form.text_field :title, placeholder: "Title" %>
  <br/>
  <%= form.text_field :description, placeholder: "Description" %>
  <br/>
  <%= form.text_field :rank, placeholder: "Rating" %>
  <br/>
  <%= form.text_field :photo, placeholder: "Photo Url" %>
  <br/>
  <%= form.submit%>
<% end %>