<%=image_tag(@game.photo)%><br/>
<%= @game.title %><br/>
<%= form_for [@game, @comment] do |form| %>
  <%= form.text_field :comment, placeholder: "Add New Comment" %>
  <br/>
  <%= form.submit%>
<% end %>
<label>Comments: </label>
<% @game.comments.each do |comment| %>
  <ul>
    <li>
      <%= comment.user.name %>:
      <%= comment.comment %>
    </li>
  </ul>
<% end %>

